# Base de données (PostgreSQL / Supabase)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:6543/DB"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DB"

# NextAuth v5
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# Vercel Blob (upload logo)
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."
